.App {
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls-line {
  display: flex;
  align-items: center;
}
.filters-line, .controls-line {
  margin: 20px 0;
}

.button, .label {
  font-size: 16px;
  padding: 3px 6px;
  border: 0;
  border-radius: 6px;
  color: #fff;
  margin: 0 10px;
}

.button.active {
  background: #808080;
}

.work {
  background: #cd5d5b;
}

.family {
  background: #8ebd8f;
}

.personal {
  background: #6495ec;
}

.add {
  background: #008000;
}

.task-line {
  margin: 10px 0;
}

label {
  display: block;
}

.task-line input {
  margin: 0 10px;
}

.error {
  font-style: italic;
  color: tomato;
  font-size: 12px;
}



.task-line span {
  display: inline-block;
  margin: 0 10px;
}

.task-line input {
  margin-right: 10px;
}
